.frame {
    width: 526px;
    height: 556px;
}

/* .frame_flex {
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* 
.login_page {
    width: 672px;
    height: 547px;
    flex-shrink: 0;
} */